@{
    ViewBag.Title = "About";
}


<h1 class="header1">About FOTS</h1>

<div class="container">
    <div class="row">
       
            <div class="col-md-4" id="Board">

                <h2 class="header2">Board of Directors</h2>

                <p>Bonnie Ravenscraft</p>
                <p class="BoD">President</p>
                <p>Karen Kratzer</p>
                <p class="BoD">Vice President</p>
                <p>Jan Chapman</p>
                <p class="BoD">Treasurer</p>
                <p>Kathie Krueger</p>
                <p class="BoD">Secretary</p>

                <h2 class="header2">Board Members</h2>
                <p>Patricia Shoemaker</p>
                <p>Janet Scanlan</p>
                <p>Terrie Sullivan</p>

                <p>Lori Fair - WebMaster</p>
            </div> @*Board div tag closing*@
            
            <div class="col-md-8">
            <h2 class="header2">Our Mission</h2>
            <p>
                Friends of the Shelter, SPCA KY is an all volunteer 501(c)(3) organization, a Society for the Prevention of Cruelty to Animals, Kentucky. Our purpose is to oppose cruelty in all forms,
                encourage humane handling and care of animals, advance spay/neuter programs, promote the animal shelters and strive for resonsible adoptions and ownership.
            </p>

            <p>
                Please visit the shelters and encourage your friends and acquaitances to consider adopting one of the many homeless animals.
            </p>

            </div> @*mission div tag closing*@


        


        <div class="col-md-8">

            <h2 class="header2">Contact Us</h2>

            <p>Friends of the Shelter, Inc.</p>
            <p>PO Box 93</p>
            <p>Union Kentucky 41091-0093</p>

            <h2 class="header2">Meetings</h2>

            <p>Florence Government Center</p>
            <p>Room B, Lower Level</p>
            <p>Ewing Boulevard, Florence</p>
            <p>7:00 PM, the last Tuesday of the Month</p>
        </div> @*contact div tag closing*@
    </div>
</div>