@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Friends of the Shelter</h1>
    <p class="lead">Friends of the Shelter is a volunteer organization whose purpose is to oppose cruelty in all forms, encourage humane handling and care of animals, advance spay/neuter programs, promote the animal shelters and
     strive for responsible adoptions and ownership. Please visit the shelters and encourage your friends and acquaintances to consider adopting one of the many homeless animals. They come in all ages,
     sizes, types and colors.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Join FOTS &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12 section">
        <h2>Low Cost Spay/Neuter Services</h2>
        <p>
            Friends of the Shelter has assisted hundreds of families in the Nothern Kentucky area in accessing these important sevices for their companion animals. If you or anyone you know needs financial
            assistance to have you animal "fixed", we have a variety of low cost services available.
        </p>
        <p>
            Thanks to a generous grant from the Joanie Bernard Foundation, you may have you companion cat spayed/neutered at no or low cost. Please get more information at the <a hred="">NKADD website,</a> or
            call OAR or UCAN directly with questions or to schedule. If you or someone you know is feding outdoor cats, you can request assistance in trapping, neutering and vaccinating these cats. 
            They will be ear-notched and returned to their outdoor home at no cost to you. Just call your local shelter, OAR or UCAN.
        </p>
        <p>
            Dogs can be spayed/neutered for $25, if they use a UCAN transport running from each of the county shelters in Northern Kentucky. Friends of the Shelter covers the remaining cost of the sugery. 
            Rabies vaccines (required by law) can be purchased for $10, if you dog does not currently have one.
        </p>
        <p>
            Pit Bulls/mixies can be spayed/neutered at no cost by UCAN. Call them directly to schedule.
        </p>
        <p>
            If you cannot use the transport for any reason, you may still be eligible for a $50 voucher toward services at most Northern Kentucky veterinary clinics. <a href="">Print the application 
            available here,</a> complete it and mail to: Friends of the Shelter, PO Box 93, Union, KY 41091-0093. Someone will be in touch with you to help you access low cost spay/neuter services.
            However, using the voucher at a private clinic will result in substantially higher out of pocket expenses.
        </p>
        <p>
            You may call OAR directly at 513-871-0185 to find out about transports for cats and kittens only.
        </p>
        <p>
            Please call UCAN at 513-721-7387 for more information about low cost services for cats and dogs.
        </p>
        
    </div>
    
<div class="container">
    <div class="row">
        <div class="col-md-4 text-center">
            <img class="img-rounded" src="~/Content/images/HouseRabbitSociety1.png" />
            <h2 class="logoColumn">House Rabbit Society</h2>
        </div>

        <div class="col-md-4 text-center">
            <img class="img-rounded" src="~/Content/images/AmericanHumaneAssociation2.png" />
            <h2 class="logoColumn">American Humane Association</h2>
        </div>

        <div class="col-md-4 text-center">
            <img class="img-rounded" src="~/Content/images/Petfinder2.png" />
            <h2 class="logoColumn">Petfinder</h2>
        </div>
        
    </div>

    <div class="row">
        <div class="col-md-4 text-center">
            <img class="img-rounded" src="~/Content/images/ASPCA4.png" />
            <h2 class="logoColumn">ASPCA</h2>
        </div>

        <div class="col-md-4 text-center">
            <img class="img-rounded " src="~/Content/images/Adoptapet.png" />
            <h2 class="logoColumn">Adopt a Pet</h2>
        </div>

        <div class="col-md-4 text-center">
            <img class="img-rounded" src="~/Content/images/HumaneSociety.png" />
            <h2 class="logoColumn">Humane Society of the US</h2>
        </div>

    </div>
 </div>    