@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Northern Kentucky Animal Shelters</h1>

<p>To insure you get up to date information, please refer to the shelter's website for current hours, county ordinances and adoption policies.</p>
@*the google maps locations are using the short url string option*@

<div class="shelter">
    <h2 class="shelter-title">Boone County Shelter</h2>
    <p>5643 Idlewild Road</p>
    <p>Burlington, KY  41005</p>
    <p><span class="glypicon glyphicon-earphone">859-586-5285</span></p>
    <a href="http://www.boonecountyshelter.org">Visit Website</a>
    <i class="glyphicon glyphicon-map-marker"></i> <a href="https://goo.gl/maps/Cz1HrfzNGaB2">Map Location</a>
</div>

<div class="shelter">
    <h2 class="shelter-title">Campbell County Shelter</h2>
    <p>1989 Poplar Ridge Road</p>
    <p>Melbourne, KY  41059</p>
    <i class="glyphicon glyphicon-earphone"></i> 859-635-2819
    <a href="http://www.campbellcountyky.org/index.php/home/services/animal-shelter">Visit Website</a>
    <i class="glyphicon glyphicon-map-marker"></i> <a href="https://goo.gl/maps/Cz1HrfzNGaB2">Map Location</a>
</div>

<div class="shelter">
    <h2 class="shelter-title">Gallatin County Shelter</h2>
    <p>4550 KY Highway 455</p>
    <p>Sparta, KY  41086</p>
    <i class="glyphicon glyphicon-earphone"></i> 859-643-3647
    <p>Please call the shelter for directions</p> @*Google maps location search did not indicate that the shelter was "at this location" and the street view for the address was inconsistent.*@
    @*The URL for Gallatin county's website, which has a page for the shelter, was not secure and the browser would not connect for security reasons (10/18/17)*@
</div>

<div class="shelter">
    <h2 class="shelter-title">Grant County Shelter</h2>
    <p>218 Barnes Road</p>
    <p>Williamstown, KY  41097</p>
    <i class="glyphicon glyphicon-earphone"></i> 859-635-2819
    <a hrhref="http://grantcountyanimalshelterky.org/">Visit Website</a>
    <i class="glyphicon glyphicon-map-marker"></i> <a href="https://goo.gl/maps/Ahx9Gzqkb6u">Map Location</a>
</div>

<div class="shelter">
    <h2 class="shelter-title">Kenton County Shelter</h2>
    <p>1020 Mary Laidley Drive</p>
    <p>Fort Mitchell, KY  41017</p>
    <i class="glyphicon glyphicon-earphone"></i> 859-356-7400
    <a href="http://www.kentoncounty.org/departmentsMain/animal_shelter/index.php">Visit Website</a>
    <i class="glyphicon glyphicon-map-marker"></i> <a href="https://goo.gl/maps/ZRNMegqmjKB2">Map Location</a>
</div>

<div class="shelter">
    <h2 class="shelter-title">Pendleton County Shelter</h2>
    <p>1314 Bryan Griffin Road</p>
    <p>Falmouth, KY  41040</p>
    <i class="glyphicon glyphicon-earphone"></i> 859-472-5400
    <a href="https://pendletoncounty.ky.gov/Government/Pages/Animal-Control-and-Care.aspx">Visit Website</a>
    <i class="glyphicon glyphicon-map-marker"></i> <a href="https://goo.gl/maps/GaZWm6bNNH32">Map Location</a>
</div>