
@{
    ViewBag.Title = "FundRaising";
}

<h2>FundRaising</h2>

<h2>Benefits of Fundraising</h2>

<p>
    Each year, Friends of the Shelter asks the Boone, Kenton and Campbell county shelters what equipment they need, but do not have the budget to purchase. To show our appreciation for the shelters' staffs,
    we use money earned from our fundraising activities to buy these needed items.
</p>

<h2>Click on a fundraising actvity below for more information</h2>

