body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Trebuchet MS';
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Layout Page and Navigation*/

.navbar {
    background-color: #330033;
}

/*Universal*/

p {
    text-align: justify;
}

/*Home Page*/

.jumbotron {
    background-color: #cccc99;
    height: 280px;
    width: auto;
}

h1.welcome {
    text-align: center;
    font-size: 45px;
}

.lead {
    font-size: 20px;
    text-align:justify;
}

.btn {
    background-color: #330033;
}

.SNServices {
    padding-bottom: 35px;
}


h2.texttitle {
    font-size: 25px;
    font-weight: 700;
    text-align: left;
}

p.maintext {
    text-align: justify;
}

.iconlinks {
    padding-bottom: 30px;
}

.logoColumn {
    font-size: 13px;
    font-weight:600;
  
}

/*About page*/

h2.header2 {
    font-size: 25px;
    font-weight: 600;
}

p.BoD {
    font-style: italic;
}

#Board {
    background-color: #cccc99;
    padding-left: 35px;
    padding-bottom: 35px;
    margin: 25px;
    width: 200px;
}

/*ShelterInfo page*/

div.Shelter {
    border-bottom-style: double;
    border-bottom-width: 10px;
    border-bottom-color: #330033;
}

h2.shelter-title {
    font-family: "Palatino Linotype", Verdana, Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

/*Footer*/

.footer-element {
    background-color: none;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #330033;

   
}

.footer-title {
    font-size: 16px;
    text-align: left;
    font-family: "Palatino Linotype", Verdana, Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.footer-link {
    color: black;
}