@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Come and Join Us for Our Monthly Meeting</h1>

<div>
    <p>Our meetings are held on the last Tuesday of each month* and are a great way to meet FOTS members and get to know more about us!</p>

    <p> Florence Goverment Center </p>
    <p>8100 Ewing Boulevard</p>
    <p>Lower Level</p>
    <p>Room B</p>
    <p><i class="glyphicon glyphicon-time"></i> 7:00 P.M.</p>
    <p><i class="glyphicon glyphicon-map-marker"></i><a href="https://goo.gl/maps/jzJ1q5nysp72">Map Location</a></p>

    <p>*Please note that meetings that fall on holidays may be rescheduled.</p>
</div>