@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>

    <h1>Join Friends of the Shelter</h1>
        <h2>Become a Member or Renew Your Membership Today!</h2>

           <p>
                Join our effort by becoming a member of FOTS.  To our
                current members, thank you for your continued support.
                To become a member or to renew your annual membership,
                (which is due  Jan 1st each year) please click on a button below.
                Be a part of the campaign to be sure all our adoptable animals in Northern Kentucky
                have homes, and to reduce the number of homeless animals
                through our spay and neuter program.
           </p>
 
           <p> 
                You can send in our printable form or submit your form online.
           </p>

               
          <button type="button" class="btn btn-link">Printable Form</button>
          <button type="button" class="btn btn-link">Online Form</button>  

            <p>
                We don't want to lose you! If your membership is current your mailing label will a December expiration date for the current year.
                We try not to make mistakes, but if failed to record your renewal, our apologies - just let us know and we will correct our records.
            </p>
</div>